<div class="contact-card">
  <a href=""
    class="contact-card__link button--clean"
    ng-click="$ctrl.selectContact();">

    <div class="contact-card__column contact-card__column--name">
      {{ ::$ctrl.contact.name }}

    </div>
    <div class="contact-card__column contact-card__column--name">
      {{ ::$ctrl.contact.name }}
    </div>
    <div class="contact-card__column contact-card__column--email">
      {{ ::$ctrl.contact.email }}
      <span class="contact-card__pill contact-card__pill--{{ ::$ctrl.contact.tag }}">
        {{ ::$ctrl.contact.tag }}
      </span>
    </div>

  </a>
</div>
