<div class="contact">
  <form name="studentDetailForm" novalidate>
    <div>
      <span class="contact__required">*</span> field is required
    </div>
    <div class="contact__box">
      <h3 class="contact__sub-title">
        Information
      </h3>
      <div class="contact__field">
        <label>
          Title <span class="contact__required">*</span>
        </label>
        <input
          type="text"
          name="name"
          length-check
          required="required"
          ng-change=""
          ng-model-options="{
            'updateOn': 'default blur',
            'debounce': {
              'default': 250,
              'blur': 0
            }
          }"
          ng-model="$ctrl.student.name">
      </div>
      <div class="contact__field">
        <label>
          Call Number
          <span class="contact__error" ng-if="studentDetailForm.email.$error.email">
            Must be a valid email
          </span>
        </label>
        <input
          type="email"
          name="email"
          length-check
          ng-change=""
          ng-model-options="{
            'updateOn': 'default blur',
            'debounce': {
              'default': 250,
              'blur': 0
            }
          }"
          ng-model="$ctrl.student.email">
      </div>
      <div class="contact__field">
        <label>
          Publisher
        </label>
        <input
          type="text"
          name="jobTitle"
          length-check
          ng-change=""
          ng-model-options="{
            'updateOn': 'default blur',
            'debounce': {
              'default': 250,
              'blur': 0
            }
          }"
          ng-model="$ctrl.student.job">
      </div>
      <div class="contact__field">
        <label>
          Author
        </label>
        <input
          type="text"
          name="location"
          length-check
          ng-change=""
          ng-model-options="{
            'updateOn': 'default blur',
            'debounce': {
              'default': 250,
              'blur': 0
            }
          }"
          ng-model="$ctrl.student.location">
      </div>
    </div>
    <div class="contact__box student__box--no-margin">
      <h3 class="contact__sub-title">
        Details
      </h3>
      <div class="contact__field">
        <label>
          ISBN/ISSN
        </label>
        <input
          type="text"
          name="facebook"
          length-check
          ng-change=""
          ng-model-options="{
            'updateOn': 'default blur',
            'debounce': {
              'default': 250,
              'blur': 0
            }
          }"
          ng-model="$ctrl.student.social.facebook">
      </div>
      <div class="contact__field">
        <label>
          Table of content
        </label>
        <input
          type="text"
          name="github"
          length-check
          ng-change=""
          ng-model-options="{
            'updateOn': 'default blur',
            'debounce': {
              'default': 250,
              'blur': 0
            }
          }"
          ng-model="$ctrl.student.social.github">
      </div>
      <div class="contact__field">
        <label>
          Twitter
        </label>
        <input
          type="text"
          name="twitter"
          length-check
          ng-change=""
          ng-model-options="{
            'updateOn': 'default blur',
            'debounce': {
              'default': 250,
              'blur': 0
            }
          }"
          ng-model="$ctrl.student.social.twitter">
      </div>
      <div class="contact__field">
        <label>
          LinkedIn
        </label>
        <input
          type="text"
          name="linkedin"
          length-check
          ng-change=""
          ng-model-options="{
            'updateOn': 'default blur',
            'debounce': {
              'default': 250,
              'blur': 0
            }
          }"
          ng-model="$ctrl.student.social.linkedin">
      </div>
    </div>


    <div ng-if="$ctrl.isNewStudent">
      <button
        class="contact__action button"
        ng-disabled="studentDetailForm.$invalid"
        ng-click="$ctrl.saveStudent();">
        Create student
      </button>
    </div>
    <div ng-if="!$ctrl.isNewStudent">


      <button
        class="contact__action button delete"
        ng-click="$ctrl.deleteStudent();">
        Delete User
      </button>
      &nbsp;
      <button
        class="contact__action button "
        ng-click="$ctrl.updateStudent();">
        Update User
      </button>

    </div>

  </form>
</div>
