<div class="book">
  <form name="studentDetailForm" novalidate>
    <div>
      <span class="book__required">*</span> field is required
    </div>
    <div class="book__box">
      <h3 class="book__sub-title">
        Information
      </h3>
      <div class="book__field">
        <label>
          Title <span class="book__required">*</span>
        </label>
        <input
          type="text"
          name="name"
          length-check
          required="required"
          ng-change=""
          ng-model-options="{
            'updateOn': 'default blur',
            'debounce': {
              'default': 250,
              'blur': 0
            }
          }"
          ng-model="$ctrl.student.name">
      </div>
      <div class="book__field">
        <label>
          E-mail
          <span class="book__error" ng-if="studentDetailForm.email.$error.email">
            Must be a valid email
          </span>
        </label>
        <input
          type="email"
          name="email"
          length-check
          ng-change=""
          ng-model-options="{
            'updateOn': 'default blur',
            'debounce': {
              'default': 250,
              'blur': 0
            }
          }"
          ng-model="$ctrl.student.email">
      </div>

    </div>
    <div class="book__box student__box--no-margin">

      <div class="book__field">
        <label>
          Department
        </label>
        <input
          type="text"
          name="department"
          length-check
          ng-change=""
          ng-model-options="{
            'updateOn': 'default blur',
            'debounce': {
              'default': 250,
              'blur': 0
            }
          }"
          ng-model="$ctrl.student.department">
      </div>
      <div class="book__field">
        <label>
          Phone
        </label>
        <input
          type="text"
          name="phone"
          length-check
          ng-change=""
          ng-model-options="{
            'updateOn': 'default blur',
            'debounce': {
              'default': 250,
              'blur': 0
            }
          }"
          ng-model="$ctrl.student.phone">
      </div>

    </div>


    <div ng-if="$ctrl.isNewStudent">
      <button
        class="book__action button"
        ng-disabled="studentDetailForm.$invalid"
        ng-click="$ctrl.saveStudent();">
        Create student
      </button>
    </div>
    <div ng-if="!$ctrl.isNewStudent">


      <button
        class="book__action button delete"
        ng-click="$ctrl.deleteStudent();">
        Delete User
      </button>
      &nbsp;
      <button
        class="book__action button "
        ng-click="$ctrl.updateStudent();">
        Update User
      </button>

    </div>

  </form>
</div>
