<div class="books">

  <ul class="books-list">
    <li>
      <div class="book-card">
        <a
          class="book-card__link button--clean"
        >

          <div class="book-card__column book-card__column--name">
            TIME
          </div>
          <div class="book-card__column book-card__column--name">
            USER NAME
          </div>
          <div class="book-card__column book-card__column--email">
            HISTORY TITLE
          </div>

        </a>
      </div>

    </li>

    <div ng-repeat="userhistory in $ctrl.filteredHistorys">
    <li ng-repeat="history in userhistory track by $index">
      <history
        history="history"
        on-select="$ctrl.goToHistory($event);">
      </history>
    </li>
    </div>
  </ul>
  <div
    class="books__empty"
    ng-if="!$ctrl.filteredHistorys.length">
    <i class="material-icons">face</i>
    There's no one here...
  </div>
</div>
