<div class="book-card">
  <a href=""
    class="book-card__link button--clean"
    ng-click="$ctrl.selectBook();">

    <div class="book-card__column book-card__column--name">
      {{ ::$ctrl.book.name }}

    </div>
    <div class="book-card__column book-card__column--name">
      {{ ::$ctrl.book.name }}
    </div>
    <div class="book-card__column book-card__column--email">
      {{ ::$ctrl.book.email }}
      <span class="book-card__pill book-card__pill--{{ ::$ctrl.book.tag }}">
        {{ ::$ctrl.book.tag }}
      </span>
    </div>

  </a>
</div>
