<!--<div class="contact__field contact__field&#45;&#45;long">-->
  <!--<label>-->
    <!--Tag-->
  <!--</label>-->
  <!--<ul>-->
    <!--<li-->
      <!--class="contact-card__pill contact-card__pill&#45;&#45;{{ tag }}"-->
      <!--ng-repeat="tag in ::$ctrl.tags"-->
      <!--ng-class="{-->
        <!--'contact__pill&#45;&#45;active': $ctrl.tag == tag-->
      <!--}">-->

      <!--<a href="" ng-click="$ctrl.updateTag(tag);" class="ng-binding"> {{ ::tag }}</a>-->

    <!--</li>-->
  <!--</ul>-->
<!--</div>-->
