<div class="contacts">

  <ul class="contacts-list">
    <li>
      <div class="contact-card">
        <a
           class="contact-card__link button--clean"
          >

          <div class="contact-card__column contact-card__column--name">
            NAME
          </div>
          <div class="contact-card__column contact-card__column--name">
           DEPT
          </div>
          <div class="contact-card__column contact-card__column--email">
            EMAIL
          </div>

        </a>
      </div>

    </li>


    <li ng-repeat="student in $ctrl.filteredStudents">
      <student
        student="student"
        on-select="$ctrl.goToStudent($event);">
      </student>
    </li>
  </ul>
  <div
    class="contacts__empty"
    ng-if="!$ctrl.filteredStudents.length">
    <i class="material-icons">face</i>
    There's no one here...
  </div>
</div>
